/* I decided to use a wrapper so that the browser action is not too squashed */
.wrapper {
  width: 210px;
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
}
.menuoption {
  font-size: 14px;
  padding: 4px;
}
/* I decided to use a hover class to lead the user to realise the usage of the divs as buttons */
.menuoption:hover {
  background-color: lightgray
}
/* Different look from the rest of the browser action to stand out */
.menutitle {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 4px 4px 4px;
}
body{
  margin: 0;
}
hr{
  padding: 0;
}
.hidden{
  display: none;
}
